/* Скрываем строки по умолчанию */
.line {
    display: none;
    white-space: nowrap; /* Предотвращаем перенос строки */
    font-family: monospace; /* Шрифт, подходящий для курсора */
    font-size: 1em; /* Размер шрифта */
    margin-bottom: 5px; /* Отступ между строками */
    <FONT color="white">Белый цвет текста</FONT>

}

/* Стили для мигающего курсора */
.cursor {
    display: inline-block; /* Чтобы курсор был в одной строке с текстом */
    width: 0.6em; /* Примерная ширина символа курсора */
    animation: blink 1s step-end infinite; /* Анимация мигания */
    vertical-align: bottom; /* Выравнивание курсора по нижней части текста */
}
/* GOVNYAK */

/* анимации мигания */
@keyframes blink {
    0%, 50% {
        opacity: 1; /* В видимом состоянии */
    }
    51%, 100% {
        opacity: 0; /* В невидимом состоянии */
    }
}

/* Опц стили для контейнера */
#text-container {
    margin: 20px;
    padding: 10px;
    border: transparent;
    background-color: transparent; /* <-- Здесь лучше на transparent */

  
}
     body {
    background-color: #333; 
}
